.appinfo {
    color: white;
  }

.form {
    width: 700px;
    border-style: none;
    background: linear-gradient(to right, rgba(28,181,224,50%) 0%, rgba(60, 73, 184,75%) 100%);
}

.form-input {
    border: none;
    border-radius: 8px 0 0 8px;
}

.submit {
    border: none;
    border-radius: 0 8px 8px 0;
    transition: all 0.2s ease-in-out;
    background-color: #1CB5E0;
}

.submit:hover {
    background-color: #242c70;
    cursor: pointer;
}