.center {
    display: flex;
    justify-content: center;
}

.title  {
    font-family: 'Noto Sans', serif;
    letter-spacing: -1px;
    font-size: 2em;
}

.particles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}